# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage
tmp

# Transpiled files
build/

# VS Code
.vscode

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store